[ ] Quality Support
[ ] Intermediates
    [X] Fine Quartz
    [X] Material Crystal
    [X] Resonating Quartz
    [X] Resonating Crystal
[ ] Cloud Access Module
    [ ] Take items from cloud chests and other machines
[ ] Material Access Module
    [ ] Take items from hard drives
[ ] Material Hub Chest
    [ ] Hold items if no hard drives
    [ ] Hold hard drives
    [ ] Request items
    [ ] Put items to hard drives
[ ] Material Combinator
    [ ] Statistics of all items including hub
    [ ] Hard drives free slots
[ ] Material Hard Drive A - H
    [X] 1024 slots (configurable)
    [X] Placeable as chest
    [X] Insertable into armor
        [ ] Refill inventory
        [ ] Trash slots place items on a hard drive
    [X] Insertable into machine
        [ ] Supplies inputs from hard drive
        [ ] Collects outputs into hard drive
[ ] Material Logistic Chest
    [ ] Request items from hard drives
    [ ] Put on hard drives or material chest
    [X] Works as buffer chest
[ ] Cloud Chest
    [ ] Filters to mark outputs
[ ] Cloud Logistic Chest
    [ ] Filters to mark outputs
    [X] Works as logistic storage chest