[X] Quality Support
[X] Intermediates
    [X] Fine Quartz
    [X] Material Crystal
    [X] Resonating Quartz
    [X] Resonating Crystal
[X] Cloud Access Module
    [X] Take items from cloud chests and other machines
[X] Material Access Module
    [X] Take items from hard drives
    [X] Put items back on hard drives
[X] Material Hub Chest
    [X] Hold items if no hard drives
    [X] Hold hard drives
    [X] Request items
    [X] Put items to hard drives
[-] Material Combinator // won't do
    [-] Statistics of all items including hub
    [-] Hard drives free slots
[X] Material Hard Drive A - H
    [?] 1024 slots (configurable)
    [X] Placeable as chest
    [-] Insertable into armor // won't do
        [-] Refill inventory
        [-] Trash slots place items on a hard drive
    [-] Insertable into machine // won't do
        [-] Supplies inputs from hard drive
        [-] Collects outputs into hard drive
[X] Material Logistic Chest
    [X] Request items from hard drives
    [X] Put on hard drives or material chest
    [X] Works as buffer chest
[X] Cloud Chest
    [X] Filters to mark outputs
[X] Cloud Logistic Chest
    [X] Filters to mark outputs
    [?] Works as logistic storage chest